{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'web/css/confirm.css' %}">
</head>
<body>
    
    <div class="thnxorconfirm">
        <div>

            <div class="greentcp">
            <img src="{% static 'web/img/green-tick-checkbox-illustration-isolated-free-png.webp' %}" alt="" class="thnx">
            </div>

            <div class="greentcp">
            <p>Thank You For Ordering In Our Store You Will Receive A Confirmation Email Shortly.</p>
            </div>

            <div class="greentcp">
            <input type="submit" value="Continue Shopping" class="lastconfsh">
            </div>

        </div>
    </div>

</body>
</html>